Repository OpenSlides/openslides-client, pull requests merged in 2021-08, with the labels that each got.

#441 LOS Slides improved
  client/src/app/site/projector/services/current-speaker-chyron-slide.service.ts
  client/src/app/slides/base-scale-scroll-slide-component.ts
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide.component.html
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide.component.scss
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide.component.ts
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.html
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.scss
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.spec.ts
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.component.ts
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.module.spec.ts
  client/src/app/slides/current-list-of-speakers-overlay/current-list-of-speakers-overlay-slide.module.ts
  client/src/app/slides/current-speaker-chyron/current-speaker-chyron-slide-data.ts
  client/src/app/slides/current-speaker-chyron/current-speaker-chyron-slide.component.html
  client/src/app/slides/current-speaker-chyron/current-speaker-chyron-slide.component.scss
Labels: client

#445 Updates adding and removing groups in meeting.update
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
Labels: client

#450 Removes relations to committees | meetings from orga-tag-list
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.html
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.ts
Labels: client

#446 Poll Slide
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.ts
  client/src/app/shared/models/poll/generic-poll.ts
  client/src/app/shared/models/poll/option.ts
  client/src/app/shared/models/poll/view-option.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/shared/pipes/poll-percent-base.pipe.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/poll/poll-slide-data.ts
  client/src/app/slides/poll/poll-slide.component.html
  client/src/app/slides/poll/poll-slide.component.ts
  client/src/app/slides/slides.ts
Labels: client

#449 Fixes handling of generic relation with empty relation
  client/src/app/core/core-services/relation-manager.service.ts
Labels: client

#453 Mediafiles will be directly requested from the media-service via GET
  client/src/app/app-routing.module.ts
  client/src/app/fullscreen/download/download-routing.module.ts
  client/src/app/fullscreen/download/download.module.ts
  client/src/app/fullscreen/download/modules/download/download.component.html
  client/src/app/fullscreen/download/modules/download/download.component.scss
  client/src/app/fullscreen/download/modules/download/download.component.spec.ts
  client/src/app/fullscreen/download/modules/download/download.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
Labels: client

#447 Adds a "main"-component
  client/src/app/app-routing.module.ts
  client/src/app/main/main-routing.module.ts
  client/src/app/main/main.component.html
  client/src/app/main/main.component.scss
  client/src/app/main/main.component.ts
  client/src/app/main/main.module.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
Labels: client

#454 Adds explicitly the file-extension for mediafile-downloads
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
Labels: client

#442 Add committee detail view page
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/committee-detail/committee-detail.component.html
  client/src/app/management/components/committee-detail/committee-detail.component.scss
  client/src/app/management/components/committee-detail/committee-detail.component.spec.ts
  client/src/app/management/components/committee-detail/committee-detail.component.ts
  client/src/app/management/components/committee-meta-info/committee-meta-info.component.html
  client/src/app/management/components/committee-meta-info/committee-meta-info.component.scss
  client/src/app/management/components/committee-meta-info/committee-meta-info.component.spec.ts
  client/src/app/management/components/committee-meta-info/committee-meta-info.component.ts
  client/src/app/management/components/meeting-list/meeting-list.component.html
  client/src/app/management/components/meeting-list/meeting-list.component.scss
  client/src/app/management/components/meeting-list/meeting-list.component.spec.ts
  client/src/app/management/components/meeting-list/meeting-list.component.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.scss
  client/src/app/management/components/meeting-preview/meeting-preview.component.spec.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.ts
  client/src/app/management/management-routing.module.ts
  client/src/app/management/management.module.ts
  client/src/app/management/models/view-committee.ts
Labels: client

#457 Some slight UI improvements
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/management/components/committee-detail/committee-detail.component.html
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/models/view-committee.ts
  client/src/app/shared/components/account-button/account-button.component.scss
  client/src/app/shared/components/global-headbar/global-headbar.component.html
  client/src/app/shared/components/global-headbar/global-headbar.component.scss
Labels: client

#459 Show Helpdesk without live streams
  client/src/app/site/interaction/components/action-bar/action-bar.component.html
  client/src/app/site/interaction/components/action-bar/action-bar.component.ts
Labels: bug, client

#461 Unites the privacy-policy and legal-notice to one page
  client/src/app/core/ui-services/overlay.service.ts
  client/src/app/core/ui-services/super-search.service.ts
  client/src/app/management/management-routing.module.ts
  client/src/app/shared/components/account-button/account-button.component.html
  client/src/app/shared/components/overlay/overlay.component.html
  client/src/app/shared/components/overlay/overlay.component.scss
  client/src/app/shared/components/overlay/overlay.component.spec.ts
  client/src/app/shared/components/overlay/overlay.component.ts
  client/src/app/shared/components/super-search/super-search.component.html
  client/src/app/shared/components/super-search/super-search.component.scss
  client/src/app/shared/components/super-search/super-search.component.spec.ts
  client/src/app/shared/components/super-search/super-search.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/common/common-routing.module.ts
  client/src/app/site/common/components/info/info.component.html
  client/src/app/site/common/components/info/info.component.scss
  client/src/app/site/common/components/info/info.component.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.spec.ts
  client/src/app/site/common/components/legal-notice/legal-notice.component.ts
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.html
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.spec.ts
  client/src/app/site/common/components/privacy-policy/privacy-policy.component.ts
  client/src/app/site/common/components/super-search/super-search.component.scss
  client/src/app/site/common/os-common.module.ts
  client/src/assets/styles/component-themes.scss
  client/src/assets/styles/global-components-style.scss
Labels: client

#254 Add own font for chyron
  client/src/app/core/ui-services/load-font.service.ts
  client/src/app/core/ui-services/media-manage.service.ts
  client/src/app/shared/components/contdown-time/countdown-time.component.ts
  client/src/app/shared/models/mediafiles/mediafile.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/projector/services/current-speaker-chyron-slide.service.ts
  client/src/app/slides/current-speaker-chyron/current-speaker-chyron-slide.component.scss
  client/src/assets/styles/font-variables.scss
  client/src/assets/styles/fonts.scss
Labels: media, client

#462 History list
  client/src/app/core/core-services/history.service.ts
  client/src/app/core/core-services/key-transforms.ts
  client/src/app/core/core-services/time-travel.service.ts
  client/src/app/core/repositories/tags/tag-repository.service.ts
  client/src/app/shared/models/core/history.ts
  client/src/app/shared/models/tag/tag.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/tags/models/view-tag.ts
  client/src/app/site/tags/tag.config.ts
Labels: client

#460 Fixes about me and race conditions in user-detail-view
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#467 Updates the Dockerfile.dev to use the same base-image as os-auth
  Dockerfile.dev
Labels: client

#463 Fixes the updating of polls
  client/src/app/core/ui-services/base-poll-dialog.service.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.ts
  client/src/app/shared/models/poll/generic-poll.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/poll/poll-slide.component.ts
Labels: client

#466 Adjusts tree-lists to the new nested modelling from the backend
  client/src/app/core/repositories/agenda/agenda-item-repository.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/ui-services/tree.service.ts
  client/src/app/shared/components/sorting-tree/sorting-tree.component.ts
  client/src/app/shared/models/agenda/agenda-item.ts
  client/src/app/shared/overload-js-functions.ts
  client/src/app/site/agenda/services/agenda-pdf.service.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#470 Adds &Prime; and &rdquo; to the diff-view.service
  client/src/app/core/ui-services/diff.service.ts
Labels: client

#474 Clean HTML before pasting in tinymce
  client/src/app/site/base/components/base.component.ts
Labels: client
