Repository OpenSlides/openslides-client, pull requests merged in 2021-06, with the labels that each got.

#234 Improve projector
  client/src/app/core/actions/projector-action.ts
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/shared/components/projector-button/projector-button.component.ts
  client/src/app/shared/components/slide-container/slide-container.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/models/view-projection.ts
  client/src/app/site/projector/services/current-list-of-speakers-slide.service.ts
  client/src/app/site/projector/services/current-speaker-chyron-slide.service.ts
  client/src/app/slides/all-slides.ts
Labels: client

#190 Meeting-specific login -> guests can sign in
  client/src/app/core/core-services/active-meeting-id.service.ts
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/core/core-services/auth.service.ts
  client/src/app/core/core-services/communication-manager.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/organisation.service.ts
  client/src/app/core/core-services/route.guard.ts
  client/src/app/core/core-services/streaming-communication.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/animations/fade-in-anim.ts
  client/src/app/shared/animations/index.ts
  client/src/app/shared/animations/nav-item-anim.ts
  client/src/app/shared/components/user-menu/user-menu.component.html
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.html
  client/src/app/site/login/components/login-mask/login-mask.component.scss
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/site-routing.module.ts
Labels: client

#230 Adds cml- and oml-permissions with directives
  client/src/app/core/actions/committee-action.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/organization-permission.ts
  client/src/app/core/core-services/organization.service.ts
  client/src/app/core/repositories/management/committee-repository.service.ts
  client/src/app/core/repositories/management/organization-tag-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/components/management-navigation/management-navigation.component.html
  client/src/app/management/components/management-navigation/management-navigation.component.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/management/components/meeting-list/meeting-list.component.html
  client/src/app/management/components/meeting-list/meeting-list.component.ts
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.ts
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/management/components/orga-settings/orga-settings.component.ts
  client/src/app/management/models/view-committee.ts
  client/src/app/shared/directives/base-perms.directive.ts
  client/src/app/shared/directives/cml-perms.directive.ts
  client/src/app/shared/directives/oml-perms.directive.ts
  client/src/app/shared/directives/perms.directive.ts
  client/src/app/shared/models/event-management/committee.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/modules/shared-motion/shared-motion.module.ts
  client/src/app/site/users/models/view-user.ts
Labels: client

#253 Removes unnecessary fields
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
Labels: client

#256 Hide cursor in full screen projector
  client/src/app/fullscreen/fullscreen-projector/fullscreen-projector/fullscreen-projector.component.html
  client/src/styles.scss
Labels: client

#257 Fixes routing problem
  client/src/app/core/core-services/route.guard.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/shared/components/jitsi/jitsi.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
  client/src/app/shared/components/user-menu/user-menu.component.html
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.html
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/agenda/models/view-list-of-speakers.ts
  client/src/app/site/agenda/services/agenda-csv-export.service.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.html
  client/src/app/site/assignments/models/view-assignment.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/base/components/base.component.ts
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/login/components/login-wrapper/login-wrapper.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.ts
  client/src/app/site/login/components/reset-password/reset-password.component.html
  client/src/app/site/login/components/reset-password/reset-password.component.ts
  client/src/app/site/login/components/unsupported-browser/unsupported-browser.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/models/view-motion-block.ts
  client/src/app/site/motions/models/view-motion-statute-paragraph.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-category/components/category-detail/category-detail.component.html
  client/src/app/site/motions/modules/motion-category/components/category-list/category-list.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.ts
  client/src/app/site/tags/models/view-tag.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/models/view-user.ts
Labels: client, high

#260 Fixes agenda
  client/src/app/core/repositories/topics/topic-repository.service.ts
  client/src/app/site/projector/models/view-projection.ts
Labels: client

#205 Fixes creation of amendments
  client/src/app/core/actions/amendment-action.ts
  client/src/app/core/actions/motion-action.ts
  client/src/app/core/core-services/model-request-builder.service.ts
  client/src/app/core/repositories/motions/motion-block-repository.service.ts
  client/src/app/core/repositories/motions/motion-line-numbering.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/amendment.service.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/models/motions/view-unified-change.ts
  client/src/app/site/motions/models/view-motion-amended-paragraph.ts
  client/src/app/site/motions/models/view-motion-change-recommendation.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
  client/src/app/site/motions/modules/motion-detail/components/base/base-motion-detail-child.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-final-version/motion-final-version.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-final-version/motion-final-version.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-final-version/motion-final-version.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-manage-title/motion-manage-title.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-manage-title/motion-manage-title.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.html
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.ts
  client/src/app/site/motions/modules/motion-detail/motion-detail.module.ts
  client/src/app/site/motions/modules/services/motion-service-collector.service.ts
  client/src/app/site/motions/modules/services/motion-view.service.spec.ts
  client/src/app/site/motions/modules/services/motion-view.service.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/slides/motion/motion-slide-obj-amendment-paragraph.ts
  client/src/app/slides/motion/motion-slide-obj-change-reco.ts
Labels: client

#262 Meeting-related fixes
  client/src/app/management/components/account-dialog/account-dialog.component.html
  client/src/app/management/components/account-dialog/account-dialog.component.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.html
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.ts
  client/src/app/shared/components/change-password/change-password.component.ts
Labels: client

#229 Adds a 'basic-list-view.component' to detach 'list-view-table.component' from operator
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/meeting-list/meeting-list.component.html
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/shared/components/basic-list-view-table/basic-list-view-table.component.html
  client/src/app/shared/components/basic-list-view-table/basic-list-view-table.component.scss
  client/src/app/shared/components/basic-list-view-table/basic-list-view-table.component.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/shared.module.ts
Labels: client

#207 Add a warning editing motion with amendments
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#265 Add some hyphenation
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/styles.scss
Labels: client

#202 Adds pro/contra-speech feature to los
  client/src/app/core/actions/speaker-action.ts
  client/src/app/core/repositories/agenda/speaker-repository.service.ts
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.scss
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/point-of-order-dialog/point-of-order-dialog.component.html
  client/src/app/shared/components/point-of-order-dialog/point-of-order-dialog.component.scss
  client/src/app/shared/components/point-of-order-dialog/point-of-order-dialog.component.spec.ts
  client/src/app/shared/components/point-of-order-dialog/point-of-order-dialog.component.ts
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.scss
  client/src/app/site/motions/modules/motion-category/components/category-motions-sort/category-motions-sort.component.html
  client/src/app/site/motions/modules/motion-category/components/category-motions-sort/category-motions-sort.component.scss
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.scss
  client/src/styles.scss
Labels: client

#264 Updates motion's multiselect-actions
  client/src/app/core/actions/personal-note-action.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/users/personal-note-repository.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-manage-title/motion-manage-title.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-detail/workflow-detail.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#271 Some further fixes for motions, settings and assignments...
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/management/components/orga-settings/orga-settings.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.html
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-change-recommendation-dialog/motion-change-recommendation-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-change-recommendation-dialog/motion-change-recommendation-dialog.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.ts
  client/src/app/site/motions/services/permissions.service.ts
Labels: client

#268 Fixes settings-related things
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/shared/components/custom-translation/custom-translation.component.html
  client/src/app/shared/components/custom-translation/custom-translation.component.scss
  client/src/app/shared/components/custom-translation/custom-translation.component.spec.ts
  client/src/app/shared/components/custom-translation/custom-translation.component.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/meeting-settings/components/meeting-settings-list/meeting-settings-list.component.spec.ts
  client/src/app/site/meeting-settings/components/meeting-settings-list/meeting-settings-list.component.ts
  client/src/app/site/meeting-settings/components/meeting-settings-overview/meeting-settings-overview.component.ts
  client/src/app/site/meeting-settings/meeting-settings.module.ts
Labels: client

#272 Fixes some little things
  client/src/app/core/repositories/agenda/agenda-item-repository.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.html
Labels: client

#266 Consequent enum of assignment detail
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.html
  client/src/app/shared/components/sorting-list/sorting-list.component.scss
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.ts
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
Labels: client

#204 Fixed show subtitle conf
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/translate/marked-translations.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.html
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
Labels: client

#276 Amendments can be created without reason
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.ts
Labels: client

#210 Disable general no/yes depending on poll method
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: client

#273 Some fixes for some lists
  client/src/app/core/core-services/action.service.ts
  client/src/app/core/repositories/assignments/assignment-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.html
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
  client/src/app/shared/utils/create-agenda-item.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#274 Some fixes for the orga-layer
  client/src/app/core/actions/committee-action.ts
  client/src/app/core/repositories/management/committee-repository.service.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/shared/overload-js-functions.ts
Labels: clean up, client

#198 Some enhancements for motions
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.html
  client/src/app/site/motions/modules/motion-detail/components/amendment-create-wizard/amendment-create-wizard.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.scss-theme.scss
  client/src/styles.scss
Labels: client

#282 Only name and the dot-menu for a committe is on small devices visible
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/shared/components/chip/chip.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.html
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.ts
Labels: client

#224 Add DiffService Changes to OS4
  client/src/app/core/repositories/motions/motion-line-numbering.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/ui-services/diff.service.spec.ts
  client/src/app/core/ui-services/diff.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.html
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.scss
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
Labels: client

#281 Fixes usage of fonts and logos
  client/src/app/shared/components/image/image.component.html
  client/src/app/shared/components/image/image.component.scss
  client/src/app/shared/components/image/image.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.html
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client

#283 Point Of Order in Statistics
  client/src/app/core/repositories/agenda/list-of-speakers-repository.service.ts
  client/src/app/core/repositories/agenda/speaker-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/shared/models/agenda/speaker.ts
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/common/components/user-statistics/user-statistics.component.html
  client/src/app/site/common/components/user-statistics/user-statistics.component.ts
Labels: client

#269 Clears meeting-models in related repos
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/communication-manager.service.ts
  client/src/app/core/core-services/data-store.service.ts
  client/src/app/core/core-services/http-stream.service.ts
  client/src/app/core/core-services/model-request-builder.service.ts
  client/src/app/core/core-services/stream.ts
  client/src/app/core/definitions/relations.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/shared/overload-js-functions.ts
Labels: client

#286 Better filtering through 'MotionRepo.updateWithStateAndRecommendation'
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client

#267 Refine AP Interaction
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
Labels: client

#287 Adds custom translations to meetings-settings
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/repositories/management/organization-repository.service.ts
  client/src/app/core/translate/custom-translation.service.ts
  client/src/app/core/translate/translation-parser.ts
  client/src/app/core/ui-services/meeting-settings.service.ts
  client/src/app/core/ui-services/organization-settings.service.ts
  client/src/app/shared/components/custom-translation/custom-translation.component.ts
  client/src/app/shared/models/event-management/organization.ts
Labels: client

#285 Fixes editing of a projector
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.ts
Labels: client

#292 Fix for amendment-list & motion-list
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client

#295 Amendment-lists will have an identifier: Amendments to ...
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
Labels: client

#217 Add single votes table
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/core/repositories/polls/vote-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.html
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.scss
  client/src/app/shared/components/assignment-poll-detail-content/assignment-poll-detail-content.component.ts
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/models/poll/poll-constants.ts
  client/src/app/shared/models/poll/poll.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/shared/models/poll/vote.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-detail/assignment-poll-detail.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.scss
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.html
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/assignments/services/assignment-pdf.service.ts
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail-original-change-recommendations/motion-detail-original-change-recommendations.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-dialog/motion-poll-dialog.component.html
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/base-poll-detail.component.ts
  client/src/app/site/polls/components/base-poll-dialog.component.ts
  client/src/app/site/polls/components/entitled-users-table/entitled-users-table.component.html
  client/src/app/site/polls/components/entitled-users-table/entitled-users-table.component.scss
  client/src/app/site/polls/components/entitled-users-table/entitled-users-table.component.spec.ts
  client/src/app/site/polls/components/entitled-users-table/entitled-users-table.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/polls.module.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide-data.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide-data.ts
  client/src/app/slides/poll/polls/base-poll-slide-data.ts
Labels: client

#259 Show "unpublished" for finished polls in AP
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.html
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
Labels: client

#258 stop-voting shows prompt
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
Labels: client

#293 Use vote pending state as subject
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll/assignment-poll.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/polls/components/base-poll.component.ts
Labels: client

#291 Adds the global-spinner
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/core/core-services/data-store-upgrade.service.ts
  client/src/app/core/core-services/http-interceptors/auth-token-interceptor.service.spec.ts
  client/src/app/core/core-services/http-interceptors/auth-token-interceptor.service.ts
  client/src/app/core/core-services/http-interceptors/index.ts
  client/src/app/core/core-services/http-interceptors/stable-interceptor.service.ts
  client/src/app/core/core-services/openslides-status.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/ui-services/overlay.service.ts
  client/src/app/core/ui-services/search.service.ts
  client/src/app/core/ui-services/spinner.service.ts
  client/src/app/core/ui-services/user-media-perm.service.ts
  client/src/app/management/components/management-navigation/management-navigation.component.ts
  client/src/app/shared/components/global-spinner/global-spinner.component.html
  client/src/app/shared/components/global-spinner/global-spinner.component.scss
  client/src/app/shared/components/global-spinner/global-spinner.component.ts
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/shared/libraries/material-design.module.ts
  client/src/app/site/common/components/overlay/overlay.component.html
  client/src/app/site/common/components/overlay/overlay.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.html
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
  client/src/assets/styles/component-themes.scss
Labels: client

#296 Editing name and aspect-ratio of a projector
  client/src/app/core/repositories/projector/projector-repository.service.ts
  client/src/app/site/projector/components/projector-edit-dialog/projector-edit-dialog.component.ts
Labels: client

#298 Removes additionalValidators to create a user without committee, OML,…
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
Labels: client

#299 Displays the title and number of a forwarded motion
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
Labels: client

#306 Fixes default entitled groups in motion-poll-dialog
  client/src/app/site/motions/modules/motion-detail/components/motion-manage-polls/motion-manage-polls.component.ts
Labels: client

#227 Add motion submitters in the agenda subtitles. Fixes #206
  client/src/app/core/core-services/model-request-builder.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.html
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-detail/motion-block-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
Labels: client

#309 Some ui fixes
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
Labels: client

#310 Somes enhancements to assignments
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/ui-services/meeting-settings-definition-provider.service.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/services/poll.service.ts
Labels: client

#304 Adjust notify service for icc
  client/src/app/core/core-services/communication-manager.service.ts
  client/src/app/core/core-services/constants.service.ts
  client/src/app/core/core-services/http.service.ts
  client/src/app/core/core-services/notify.service.ts
  client/src/app/shared/directives/listen-editing.directive.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
Labels: client, high

#315 Fixes the base-search-value-selector
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.html
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/search-selector/search-repo-selector/search-repo-selector.component.ts
  client/src/app/shared/components/search-selector/search-value-selector/search-value-selector.component.ts
Labels: client

#313 Adds a super-search.service to avoid circular dependencies
  client/src/app/core/ui-services/search.service.ts
  client/src/app/core/ui-services/super-search.service.ts
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/site/site.component.ts
Labels: client

#301 Fix agenda_item_list slide
  client/src/app/slides/agenda-item-list/agenda-item-list-slide-data.ts
  client/src/app/slides/agenda-item-list/agenda-item-list-slide.component.ts
Labels: client, high

#308 Reactivates downloading mediafiles as zip
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
Labels: client

#319 More linient detailDateUrl requirement
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/cinema/components/cinema/cinema.component.ts
Labels: client

#316 Fixes selecting the right group in the user-list
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client
