Repository OpenSlides/openslides-client, pull requests merged in 2021-11, with the labels that each got.

#598 Solve various poll issues
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/banner/banner.component.html
  client/src/app/shared/components/charts/charts.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/cinema/components/poll-collection/poll-collection.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
Labels: high, client

#603 Fixes the deletion of models
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/model-request-builder.service.ts
  client/src/app/core/definitions/model-request-object.ts
  client/src/app/shared/overload-js-functions.ts
Labels: client

#609 Show warning if the user has no https
  client/src/app/site/login/components/login-mask/login-mask.component.ts
Labels: feature, client

#606 Enhances the account dialog
  client/src/app/core/actions/user-action.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/user.service.spec.ts
  client/src/app/core/ui-services/user.service.ts
  client/src/app/management/components/account-dialog/account-dialog.component.html
  client/src/app/management/components/account-dialog/account-dialog.component.scss
  client/src/app/management/components/account-dialog/account-dialog.component.ts
  client/src/app/shared/components/account-button/account-button.component.ts
  client/src/app/shared/components/projector-button/projector-button.component.scss
  client/src/app/shared/components/user-detail-view/user-detail-view.component.html
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.scss
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/models/view-user.ts
  client/src/assets/styles/component-themes.scss
Labels: client

#608 Disable indirect redirect
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/core/core-services/auth.service.ts
  client/src/app/core/core-services/openslides.service.ts
Labels: bug, client

#604 Shows a warning if a user is linked to a motion as submitter or an election as candidate or anything else
  client/src/app/core/core-services/member.service.ts
  client/src/app/core/core-services/presenter.service.ts
  client/src/app/core/core-services/servertime.service.ts
  client/src/app/core/definitions/custom-errors.ts
  client/src/app/core/repositories/management/organization-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/management/components/member-delete-dialog/member-delete-dialog.component.html
  client/src/app/management/components/member-delete-dialog/member-delete-dialog.component.scss
  client/src/app/management/components/member-delete-dialog/member-delete-dialog.component.spec.ts
  client/src/app/management/components/member-delete-dialog/member-delete-dialog.component.ts
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.scss
  client/src/app/management/components/member-list/member-list.component.ts
  client/src/app/management/management.module.ts
  client/src/app/shared/components/basic-list-view-table/basic-list-view-table.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#567 Implements the invitation of users by emails
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.html
  client/src/app/shared/components/user-detail-view/user-detail-view.component.html
  client/src/app/shared/models/users/user.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#612 Prevents the floating of the copyright-sign over menu entries
  client/src/app/shared/components/sidenav/sidenav.component.html
  client/src/app/shared/components/sidenav/sidenav.component.scss
Labels: client

#617 Some small fixes
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/user.service.ts
  client/src/app/shared/components/projector-button/projector-button.component.scss
  client/src/app/shared/pipes/parse-poll-number.pipe.ts
  client/src/app/site/polls/components/base-poll.component.ts
Labels: client

#625 Fixes setting the visibility of multiple agenda-items
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/shared/models/agenda/agenda-item.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/services/motion-multiselect.service.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/topics/services/topic-import.service.ts
Labels: client

#623 Better error handling of incoming data
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/http-stream.service.ts
  client/src/app/core/core-services/http-stream.ts
  client/src/app/core/core-services/offline-broadcast.service.ts
  client/src/app/core/core-services/offline.service.ts
  client/src/app/core/core-services/openslides.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/slide-container/slide-container.component.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/agenda/components/agenda-sort/agenda-sort.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/base/components/base.component.ts
  client/src/app/site/mediafiles/components/mediafile-list/mediafile-list.component.ts
  client/src/app/site/motions/modules/amendment-list/amendment-list.component.ts
  client/src/app/site/motions/modules/call-list/call-list.component.ts
  client/src/app/site/motions/modules/motion-block/components/motion-block-list/motion-block-list.component.ts
  client/src/app/site/motions/modules/motion-category/components/categories-sort/categories-sort.component.ts
  client/src/app/site/motions/modules/motion-category/components/category-detail/category-detail.component.ts
  client/src/app/site/motions/modules/motion-category/components/category-list/category-list.component.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-list/motion-comment-section-list.component.ts
  client/src/app/site/motions/modules/motion-comment-section/components/motion-comment-section-sort/motion-comment-section-sort.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-comments/motion-comments.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/motion-workflow/components/workflow-list/workflow-list.component.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-list/statute-paragraph-list.component.ts
  client/src/app/site/polls/components/poll-progress/poll-progress.component.ts
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
  client/src/app/site/tags/components/tag-list/tag-list.component.ts
  client/src/app/site/users/components/group-list/group-list.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#639 Set logo places without capital letter
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/core/ui-services/media-manage.service.ts
Labels: bug, client

#640 Use new vote service
  client/src/app/core/actions/poll-action.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/send-votes.service.spec.ts
  client/src/app/core/core-services/send-votes.service.ts
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/shared/components/account-button/account-button.component.ts
  client/src/app/shared/models/poll/poll.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-vote/assignment-poll-vote.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-vote/motion-poll-vote.component.ts
  client/src/app/site/polls/components/base-poll-vote.component.ts
  client/src/app/site/polls/components/poll-list/poll-list.component.ts
  client/src/app/site/polls/services/poll-filter-list.service.ts
Labels: feature, high, client

#642 Fixes some bugs
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/agenda/agenda-item-repository.service.ts
  client/src/app/core/ui-services/spinner.service.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/organization-tag-dialog/organization-tag-dialog.component.html
  client/src/app/shared/components/global-spinner/global-spinner.component.html
  client/src/app/shared/components/global-spinner/global-spinner.component.spec.ts
  client/src/app/shared/components/global-spinner/global-spinner.component.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/spinner/spinner.component.html
  client/src/app/shared/components/spinner/spinner.component.scss
  client/src/app/shared/components/spinner/spinner.component.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
  client/src/app/shared/directives/base-perms.directive.ts
  client/src/app/shared/directives/cml-perms.directive.ts
  client/src/app/shared/directives/oml-perms.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/agenda/models/view-agenda-item.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/topics/components/topic-detail/topic-detail.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#613 Fixes the resetting of user passwords
  client/src/app/app-routing.module.ts
  client/src/app/core/actions/user-action.ts
  client/src/app/core/core-services/openslides-router.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm-routing.module.ts
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.html
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.component.ts
  client/src/app/site/login/components/reset-password-confirm/reset-password-confirm.module.ts
  client/src/app/site/login/components/reset-password/reset-password-routing.module.ts
  client/src/app/site/login/components/reset-password/reset-password.component.ts
  client/src/app/site/login/components/reset-password/reset-password.module.ts
  client/src/app/site/login/login-routing.module.ts
  client/src/app/site/login/login.module.ts
  client/src/app/site/site-routing.module.ts
Labels: client

#648 Some improvements for the committee import
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/core/ui-services/choice.service.ts
  client/src/app/management/components/committee-import-list/committee-import-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/services/committee-import.service.ts
  client/src/app/shared/components/choice-dialog/choice-dialog.component.html
  client/src/app/shared/components/choice-dialog/choice-dialog.component.ts
  client/src/app/shared/components/import-list-view/import-list-view.component.html
  client/src/app/shared/models/event-management/committee.constants.ts
  client/src/app/shared/utils/import/base-import-handler.ts
  client/src/app/shared/utils/import/static-before-import-handler.ts
  client/src/app/shared/utils/parser.ts
  client/src/app/site/motions/import/user-import-helper.ts
Labels: client

#650 Fixes vote participating in user-list
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#658 Updates relations to recognize if a countdown or a message were deleted
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/shared/models/base/base-model.ts
  client/src/app/shared/models/base/collection.ts
  client/src/app/shared/models/projector/projection.ts
  client/src/app/site/base/base-view-model.ts
  client/src/app/site/projector/components/projector-list-entry/projector-list-entry.component.ts
Labels: client

#659 Fixes the feature of pro/contra speech and contribution
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content-title.directive.ts
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.scss
  client/src/app/shared/shared.module.ts
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/projector/components/projector-list/projector-list.component.ts
Labels: client

#656 Sorts meetings and adds links to them
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/management/components/account-dialog/account-dialog.component.html
  client/src/app/management/components/account-dialog/account-dialog.component.ts
  client/src/app/site/common/components/start/start.component.html
  client/src/app/site/common/components/start/start.component.ts
Labels: client

#664 Rework the relation between users and committees
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
  client/src/app/shared/directives/is-meeting-admin.directive.spec.ts
  client/src/app/shared/directives/is-meeting-admin.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/app/shared/validators/one-of-validator.ts
Labels: client

#673 Fixes: The navigation after "committee.create"/"committee.update"
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/committee-list/committee-list.component.ts
Labels: client

#672 Fixes: Improve the (CSV-) import of users and topics
  client/src/app/management/components/member-import-list/member-import-list.component.html
  client/src/app/shared/components/import-list-view/import-list-view.component.html
  client/src/app/shared/components/import-list-view/import-list-view.component.ts
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.html
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.ts
  client/src/app/site/users/base/base-user-import-list.component.ts
  client/src/app/site/users/base/base-user-import.service.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
Labels: client

#671 Fixes: Some "small" bugs
  client/src/app/core/repositories/base-repository-with-active-meeting.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/repository-service-collector.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/fullscreen/fullscreen-projector/fullscreen-projector/fullscreen-projector.component.ts
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
Labels: client
