Repository OpenSlides/openslides-client, pull requests merged in 2021-12, with the labels that each got.

#644 Determines, whether a user can be edited or not, now
  client/src/app/core/core-services/member.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/user.service.ts
  client/src/app/management/components/account-dialog/account-dialog.component.html
  client/src/app/management/components/account-dialog/account-dialog.component.ts
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/dashboard/dashboard.component.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.scss
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.scss
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/assets/styles/default-classes.scss
Labels: client

#663 Fix redirection to error page in meetings
  client/src/app/core/core-services/active-meeting-id.service.ts
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/shared/components/not-found/not-found.component.html
  client/src/app/shared/components/not-found/not-found.component.spec.ts
  client/src/app/shared/components/not-found/not-found.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/site-routing.module.ts
  client/src/app/site/topics/components/topic-detail/topic-detail.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.html
  client/src/app/site/users/users-routing.module.ts
Labels: high, client

#638 Enhance call restriction
  client/src/app/site/agenda/models/view-list-of-speakers.spec.ts
  client/src/app/site/agenda/models/view-list-of-speakers.ts
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/interaction/components/action-bar/action-bar.component.html
  client/src/app/site/interaction/components/action-bar/action-bar.component.ts
  client/src/app/site/interaction/components/call/call.component.html
  client/src/app/site/interaction/components/call/call.component.ts
  client/src/app/site/interaction/interaction.module.ts
  client/src/app/site/interaction/services/call-restriction.service.ts
  client/src/app/site/interaction/services/rtc.service.ts
Labels: bug, clean up, client

#683 Add "shorter-"name display in jitsi conference
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/interaction/services/rtc.service.ts
  client/src/app/site/users/models/view-user.ts
Labels: feature, client

#682 Exclude non natural users from call restrictions
  client/src/app/core/core-services/operator.service.ts
  client/src/app/site/interaction/services/call-restriction.service.ts
Labels: feature

#668 Adds the 'poll_backend' key to the poll-form
  client/src/app/core/actions/poll-action.ts
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/models/poll/poll-constants.ts
  client/src/app/shared/models/poll/poll.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.html
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-detail/motion-poll-detail.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-meta-information/motion-poll-meta-information.component.html
  client/src/app/site/motions/modules/motion-poll/motion-poll-meta-information/motion-poll-meta-information.component.scss
  client/src/app/site/motions/modules/motion-poll/motion-poll-meta-information/motion-poll-meta-information.component.spec.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll-meta-information/motion-poll-meta-information.component.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll.module.ts
  client/src/app/site/motions/modules/motion-poll/motion-poll/motion-poll.component.html
  client/src/app/site/polls/components/base-poll-meta-information.component.ts
  client/src/app/site/polls/components/base-poll.component.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: client

#676 Fixes: Implement the chat
  client/src/app/core/actions/chat-group-action.ts
  client/src/app/core/actions/chat-message-action.ts
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/core-services/app-load.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/core/repositories/chat/chat-groups/chat-group-repository.service.ts
  client/src/app/core/repositories/chat/chat-messages/chat-message-repository.service.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/core/repositories/management/organization-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/management/components/orga-settings/orga-settings.component.ts
  client/src/app/management/models/view-meeting.ts
  client/src/app/shared/components/head-bar/head-bar.component.html
  client/src/app/shared/components/head-bar/head-bar.component.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/vertical-tab-group/vertical-tab-group-label-header.directive.ts
  client/src/app/shared/components/vertical-tab-group/vertical-tab-group.component.html
  client/src/app/shared/components/vertical-tab-group/vertical-tab-group.component.scss
  client/src/app/shared/components/vertical-tab-group/vertical-tab-group.component.ts
  client/src/app/shared/models/chat/chat-groups/chat-group.ts
  client/src/app/shared/models/chat/chat-groups/view-chat-group.ts
  client/src/app/shared/models/chat/chat-messages/chat-message.ts
  client/src/app/shared/models/chat/chat-messages/view-chat-message.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/models/event-management/organization.ts
  client/src/app/shared/models/users/group.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/chat/chat-routing.module.ts
  client/src/app/site/chat/chat.config.ts
  client/src/app/site/chat/chat.module.ts
  client/src/app/site/chat/components/chat-group-detail/chat-group-detail.component.html
  client/src/app/site/chat/components/chat-group-detail/chat-group-detail.component.scss
  client/src/app/site/chat/components/chat-group-detail/chat-group-detail.component.ts
  client/src/app/site/chat/components/chat-group-dialog/chat-group-dialog.component.html
  client/src/app/site/chat/components/chat-group-dialog/chat-group-dialog.component.scss
  client/src/app/site/chat/components/chat-group-dialog/chat-group-dialog.component.ts
  client/src/app/site/chat/components/chat-group-list/chat-group-list.component.html
  client/src/app/site/chat/components/chat-group-list/chat-group-list.component.scss
  client/src/app/site/chat/components/chat-group-list/chat-group-list.component.ts
  client/src/app/site/chat/components/chat-message/chat-message.component.html
  client/src/app/site/chat/components/chat-message/chat-message.component.scss
  client/src/app/site/chat/components/chat-message/chat-message.component.ts
  client/src/app/site/chat/services/chat-notification.service.ts
  client/src/app/site/chat/services/chat.service.ts
  client/src/app/site/site-routing.module.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.ts
  client/src/app/site/users/models/view-group.ts
  client/src/app/site/users/models/view-user.ts
  client/src/assets/styles/default-classes.scss
  client/src/assets/styles/global-components-style.scss
Labels: client

#691 Improves the "cleanup" command for the client
  client/cli/cleanup.ts
  client/package.json
Labels: clean up

#688 Add invite-to-call to LOS
  client/src/app/core/core-services/notify.service.ts
  client/src/app/core/services/broadcast.service.spec.ts
  client/src/app/core/services/broadcast.service.ts
  client/src/app/core/ui-services/prompt.service.ts
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.ts
  client/src/app/shared/components/prompt-dialog/prompt-dialog.component.html
  client/src/app/site/agenda/models/view-speaker.ts
  client/src/app/site/interaction/services/interaction.service.ts
  client/src/app/site/interaction/services/rtc.service.ts
Labels: feature

#712 Re-Sort settings
  client/src/app/core/repositories/management/meeting-settings-definition.ts
Labels: bug
