Repository OpenSlides/openslides-client, pull requests merged in 2021-09, with the labels that each got.

#485 Disable host check in dev setup
  client/angular.json
Labels: client

#483 Not found button is not shown if no value is given
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/shared/components/list-of-speakers-content/list-of-speakers-content.component.html
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.html
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/directives/not-found-description.directive.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.html
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.html
  client/src/app/site/motions/modules/motion-detail/components/manage-submitters/manage-submitters.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/polls/components/poll-form/poll-form.component.html
Labels: client

#488 Allow meeting title to use multiple lines
  client/src/app/management/components/meeting-preview/meeting-preview.component.scss
Labels: client

#492 Users can forward to meetings within the same committee
  client/src/app/core/repositories/management/committee-repository.service.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/committee-edit/committee-edit.component.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.html
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/search-selector/search-repo-selector/search-repo-selector.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.ts
Labels: high, client

#482 Changes the motion forwarding dialog to use checkboxes
  client/src/app/core/repositories/management/committee-repository.service.ts
  client/src/app/core/repositories/motions/motion.service.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.ts
Labels: client

#491 Re-connects opened streams when operator or online-state changed
  client/src/app/core/core-services/communication-manager.service.ts
  client/src/app/core/core-services/http-stream.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/streaming-communication.service.ts
  client/src/app/shared/components/account-button/account-button.component.html
  client/src/app/shared/components/account-button/account-button.component.ts
Labels: client

#493 Prefills the title of a meeting to create
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
Labels: client

#494 Fixes the error "No active meeting to query the structured relation"
  client/src/app/core/core-services/relation-manager.service.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#498 Workflows can be changed by multiselect-actions
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/modules/shared-motion/motion-multiselect-actions/motion-multiselect-actions.component.html
  client/src/app/site/motions/services/motion-multiselect.service.ts
Labels: client

#504 Updates some small things
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/member.service.ts
  client/src/app/management/components/committee-detail/committee-detail.component.html
  client/src/app/management/components/committee-detail/committee-detail.component.ts
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.ts
Labels: client

#509 Adjust a color to the new theming
  client/src/app/management/components/dashboard/dashboard.component.scss
Labels: client

#505 The orga-tags will be rendered correctly
  client/src/app/management/components/committee-list/committee-list.component.html
Labels: client

#510 Fixes groups in settings
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.ts
Labels: client

#477 Adds duplicating of meetings
  client/src/app/core/actions/meeting-action.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.ts
Labels: client

#513 Implements a "single shot" request to the AU-service
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/core-services/autoupdate.service.ts
  client/src/app/core/core-services/communication-manager.service.ts
  client/src/app/core/core-services/http-stream-endpoint.service.ts
  client/src/app/core/core-services/http-stream.service.ts
  client/src/app/core/core-services/http-stream.ts
  client/src/app/core/core-services/model-request.service.ts
  client/src/app/core/core-services/notify.service.ts
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/organization.service.ts
  client/src/app/core/core-services/stream-utils.ts
  client/src/app/core/core-services/stream.ts
  client/src/app/core/core-services/streaming-communication.service.ts
  client/src/app/shared/components/search-selector/search-repo-selector/search-repo-selector.component.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/base/components/base-model-context.component.ts
Labels: client

#522 Hide pw generate button while editing a user
  client/src/app/shared/components/user-detail-view/user-detail-view.component.html
Labels: client

#517 Fixes updating of meetings
  client/src/app/core/actions/meeting-action.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
Labels: client

#524 Prevent entitled percent base for analog polls
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.html
  client/src/app/shared/components/motion-poll-detail-content/motion-poll-detail-content.component.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
Labels: client

#516 Implements archiving and unarchiving of meetings
  client/src/app/core/actions/meeting-action.ts
  client/src/app/core/core-services/action.service.ts
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/core-services/archive-status.service.ts
  client/src/app/core/core-services/http.service.ts
  client/src/app/core/core-services/organization.service.ts
  client/src/app/core/errors/process-error.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/core/repositories/management/organization-repository.service.ts
  client/src/app/core/repositories/relations.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/banner.service.ts
  client/src/app/management/components/committee-detail/committee-detail.component.ts
  client/src/app/management/components/committee-edit/committee-edit.component.html
  client/src/app/management/components/dashboard/dashboard.component.html
  client/src/app/management/components/dashboard/dashboard.component.scss
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.scss
  client/src/app/management/components/meeting-preview/meeting-preview.component.ts
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/management/components/orga-settings/orga-settings.component.scss
  client/src/app/management/components/orga-settings/orga-settings.component.ts
  client/src/app/management/models/view-meeting.ts
  client/src/app/management/models/view-organization.ts
  client/src/app/shared/components/account-button/account-button.component.html
  client/src/app/shared/components/account-button/account-button.component.ts
  client/src/app/shared/components/banner/banner.component.html
  client/src/app/shared/components/sidenav/sidenav.component.scss
  client/src/app/shared/directives/only-number.directive.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/models/event-management/organization.ts
  client/src/app/shared/models/users/user.ts
  client/src/assets/styles/global-components-style.scss
Labels: client

#527 Hotfix: Member amount in CommitteeDetailComponent is at least 0
  client/src/app/core/repositories/management/committee-repository.service.ts
  client/src/app/management/components/committee-detail/committee-detail.component.ts
Labels: client

#526 Toggle the presence of a user by their number
  client/src/app/core/actions/user-action.ts
  client/src/app/core/core-services/auth-guard.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/site/base/components/base-model-context.component.ts
  client/src/app/site/users/components/presence-detail/presence-detail.component.html
  client/src/app/site/users/components/presence-detail/presence-detail.component.ts
  client/src/app/site/users/users-routing.module.ts
Labels: client

#528 Shows the "created at" timestamps of motions
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.html
Labels: client

#529 Removes displaying the history mode for OpenSlides
  client/src/app/core/core-services/app-load.service.ts
  client/src/app/core/core-services/history.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.html
  client/src/app/site/site-routing.module.ts
Labels: client

#531 Wonderful theming
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/core/ui-services/theme.service.ts
  client/src/app/management/components/dashboard/dashboard.component.html
  client/src/app/management/components/dashboard/dashboard.component.scss
  client/src/app/management/components/dashboard/dashboard.component.ts
  client/src/app/management/components/management-navigation/management-navigation.component.html
  client/src/app/management/components/management-navigation/management-navigation.component.scss
  client/src/app/management/components/management/management.component.html
  client/src/app/management/components/management/management.component.ts
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/shared/components/account-button/account-button.component.html
  client/src/app/shared/components/account-button/account-button.component.scss
  client/src/app/shared/components/global-headbar/global-headbar.component.html
  client/src/app/shared/components/global-headbar/global-headbar.component.scss
  client/src/app/shared/components/head-bar/head-bar.component.scss
  client/src/app/shared/components/logo/logo.component.ts
  client/src/app/shared/components/sidenav/sidenav.component.html
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss-theme.scss
  client/src/app/site/site.component.ts
  client/src/assets/styles/color-palettes/os-cyan.scss
  client/src/assets/styles/color-palettes/os-green.scss
  client/src/assets/styles/color-palettes/os-red.scss
  client/src/assets/styles/global-components-style.scss
  client/src/assets/styles/themes/green-dark.scss
  client/src/assets/styles/themes/green-light.scss
  client/src/assets/styles/themes/red-dark.scss
  client/src/assets/styles/themes/red-light.scss
Labels: client

#534 Read version from text, display in legal notice
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.ts
  client/src/assets/version.txt
Labels: feature, client

#535 Adds a permission, a user needs to forward motions
  client/src/app/core/core-services/permission-children.ts
  client/src/app/core/core-services/permission.ts
Labels: client

#537 Improves the UI
  client/src/app/core/actions/organization-action.ts
  client/src/app/core/definitions/base-menu-entry.ts
  client/src/app/core/repositories/management/organization-repository.service.ts
  client/src/app/management/components/dashboard/dashboard.component.html
  client/src/app/management/components/dashboard/dashboard.component.scss
  client/src/app/management/components/meeting-preview/meeting-preview.component.html
  client/src/app/management/components/meeting-preview/meeting-preview.component.scss
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.html
  client/src/app/shared/components/legal-notice-content/legal-notice-content.component.ts
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.html
  client/src/app/shared/components/privacy-policy-content/privacy-policy-content.component.ts
  client/src/app/site/base/components/base.component.ts
  client/src/app/site/common/common.config.ts
  client/src/app/site/common/components/info/info.component.html
  client/src/app/site/common/components/info/info.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-comment/motion-comment.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.html
  client/src/app/site/motions/modules/motion-detail/components/personal-note/personal-note.component.html
  client/src/app/site/site.component.html
  client/src/assets/styles/component-themes.scss
  client/src/assets/styles/default-classes.scss
  client/src/assets/styles/global-components-style.scss
  client/src/styles.scss
Labels: client
