Repository OpenSlides/openslides-client, pull requests merged in 2021-07, with the labels that each got.

#307 Fixes multiple stream of LOS
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
Labels: client

#329 One can remove the OML of a user
  client/src/app/management/components/member-edit/member-edit.component.html
Labels: client

#330 The name of a committee is included in an update-request
  client/src/app/core/repositories/management/committee-repository.service.ts
Labels: client

#335 Adjusts the meeting-list to other lists
  client/src/app/management/components/meeting-list/meeting-list.component.html
  client/src/app/management/components/meeting-list/meeting-list.component.ts
Labels: client

#341 Fix autoupdates for projections: Explicitly register for these
  client/src/app/core/repositories/projector/projection-repository.service.ts
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/site/base/components/base.component.ts
Labels: client

#323 Shows the related meeting from an origin motion
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
Labels: client

#340 Makes the autopilot and current-list-of-speakers ready for OS4
  client/src/app/site/agenda/components/list-of-speakers/list-of-speakers.component.ts
  client/src/app/site/cinema/components/cinema/cinema.component.html
  client/src/app/site/cinema/components/cinema/cinema.component.ts
  client/src/app/site/projector/services/current-list-of-speakers.service.ts
Labels: client

#305 Implements the meeting-import
  client/src/app/core/actions/meeting-action.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/meeting-import/meeting-import.component.html
  client/src/app/management/components/meeting-import/meeting-import.component.scss
  client/src/app/management/components/meeting-import/meeting-import.component.spec.ts
  client/src/app/management/components/meeting-import/meeting-import.component.ts
  client/src/app/management/components/meeting-list/meeting-list.component.html
  client/src/app/management/management-routing.module.ts
  client/src/app/management/management.module.ts
  client/src/app/shared/components/file-upload/file-upload.component.html
  client/src/app/shared/components/file-upload/file-upload.component.scss
  client/src/app/shared/components/file-upload/file-upload.component.spec.ts
  client/src/app/shared/components/file-upload/file-upload.component.ts
  client/src/app/shared/components/media-upload-content/media-upload-content.component.html
  client/src/app/shared/components/media-upload-content/media-upload-content.component.scss
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/models/mediafiles/create-mediafile.ts
  client/src/app/shared/shared.module.ts
Labels: client

#334 When editing a meeting all users are shown
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
Labels: client

#342 Updated all permissions, removed users.can_change_own_password
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/core-services/permission.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/user-menu/user-menu.component.html
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/shared/directives/is-meeting-admin.directive.spec.ts
  client/src/app/shared/directives/is-meeting-admin.directive.ts
  client/src/app/shared/directives/is-super-admin.directive.spec.ts
  client/src/app/shared/models/users/user.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/history/components/history-list/history-list.component.html
  client/src/app/site/history/components/history-list/history-list.component.ts
  client/src/app/site/login/components/login-mask/login-mask.component.ts
  client/src/app/site/users/components/user-detail/user-detail.component.ts
  client/src/app/site/users/users-routing.module.ts
Labels: client

#350 Changing the uploading's folder will not change the current url
  client/src/app/shared/components/media-upload-content/media-upload-content.component.ts
Labels: client

#352 Only unique ids are set as forwarding_to_committee_ids
  client/src/app/core/repositories/management/committee-repository.service.ts
Labels: client

#322 Fixes user-csv-import
  client/src/app/core/repositories/users/group-repository.service.ts
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/core/ui-services/base-import.service.ts
  client/src/app/core/ui-services/csv-export.service.ts
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.ts
  client/src/app/shared/components/import-list-view/import-list-first-tab.directive.ts
  client/src/app/shared/components/import-list-view/import-list-last-tab.directive.ts
  client/src/app/shared/components/import-list-view/import-list-view.component.html
  client/src/app/shared/components/import-list-view/import-list-view.component.scss
  client/src/app/shared/components/import-list-view/import-list-view.component.ts
  client/src/app/shared/components/user-multiselect-actions/user-multiselect-actions.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/base/components/base-import-list.component.ts
  client/src/app/site/motions/export/motion-csv-export-example.ts
  client/src/app/site/motions/import/category-import-helper.ts
  client/src/app/site/motions/import/user-import-helper.ts
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.html
  client/src/app/site/motions/modules/motion-import/motion-import-list.component.ts
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-import-list/statute-paragraph-import-list.component.html
  client/src/app/site/motions/modules/statute-paragraph/components/statute-paragraph-import-list/statute-paragraph-import-list.component.ts
  client/src/app/site/motions/modules/statute-paragraph/statute-paragraph.constants.ts
  client/src/app/site/motions/motions.constants.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-import.service.ts
  client/src/app/site/motions/services/statute-csv-export.service.ts
  client/src/app/site/motions/services/statute-import.service.ts
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.html
  client/src/app/site/topics/components/topic-import-list/topic-import-list.component.ts
  client/src/app/site/topics/services/topic-import.service.ts
  client/src/app/site/users/components/user-import/user-import-list.component.html
  client/src/app/site/users/components/user-import/user-import-list.component.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/export/user-export-example.ts
  client/src/app/site/users/import/group-import-helper.ts
  client/src/app/site/users/services/user-import.service.ts
  client/src/app/site/users/users.constants.ts
Labels: client

#349 Relation Observables
  client/src/app/core/core-services/relation-manager.service.ts
  client/src/app/core/repositories/base-repository.ts
  client/src/app/shared/components/projector/projector.component.html
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/shared/components/slide-container/slide-container.component.ts
  client/src/app/site/assignments/components/assignment-detail/assignment-detail.component.ts
  client/src/app/site/base/components/base.component.ts
  client/src/app/site/common/components/user-statistics/user-statistics.component.ts
  client/src/app/site/motions/modules/motion-detail/components/base/base-motion-detail-child.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.ts
  client/src/app/site/projector/models/view-projector.ts
Labels: client

#353 A motion's origin links to the original motion in the original meeting
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
Labels: client

#356 Rework of the forwarding-dialog's ui
  client/src/app/core/repositories/motions/motion.service.ts
  client/src/app/shared/components/selection-tree/selection-tree.component.html
  client/src/app/shared/components/selection-tree/selection-tree.component.scss
  client/src/app/shared/components/selection-tree/selection-tree.component.spec.ts
  client/src/app/shared/components/selection-tree/selection-tree.component.ts
  client/src/app/shared/shared.module.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.ts
Labels: client

#359 Fixes a request to get updates for polls
  client/src/app/site/polls/components/base-poll-detail.component.ts
Labels: client

#372 Remove majority_method
  client/src/app/core/actions/meeting-action.ts
  client/src/app/core/actions/poll-action.ts
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/core/translate/marked-translations.ts
  client/src/app/core/ui-services/base-poll-dialog.service.ts
  client/src/app/shared/models/event-management/meeting.ts
  client/src/app/shared/models/poll/poll-constants.ts
  client/src/app/shared/models/poll/poll.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/site/assignments/modules/assignment-poll/services/assignment-poll.service.ts
  client/src/app/site/motions/services/motion-poll.service.ts
  client/src/app/site/polls/components/poll-form/poll-form.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide-data.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide-data.ts
  client/src/app/slides/poll/polls/base-poll-slide-data.ts
Labels: client

#346 Fixing mediafile and motion_block projections
  client/src/app/core/actions/projection-action.ts
  client/src/app/core/repositories/mediafiles/mediafile-repository.service.ts
  client/src/app/core/repositories/projector/projection-repository.service.ts
  client/src/app/core/ui-services/projector.service.ts
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/shared/models/projector/projection.ts
  client/src/app/site/mediafiles/models/view-mediafile.ts
  client/src/app/site/projector/components/presentation-control/presentation-control.component.html
  client/src/app/site/projector/components/presentation-control/presentation-control.component.ts
  client/src/app/slides/agenda-item-list/agenda-item-list-slide-data.ts
  client/src/app/slides/agenda-item-list/agenda-item-list-slide.component.ts
  client/src/app/slides/agenda_item_number.ts
  client/src/app/slides/mediafile/mediafile-slide-data.ts
  client/src/app/slides/mediafile/mediafile-slide.component.html
  client/src/app/slides/mediafile/mediafile-slide.component.ts
  client/src/app/slides/motion-base/base-motion-slide.ts
  client/src/app/slides/motion-block/motion-block-slide-data.ts
  client/src/app/slides/motion-block/motion-block-slide.component.ts
  client/src/app/slides/motion/motion-slide-data.ts
  client/src/app/slides/motion/motion-slide.component.ts
Labels: client

#375 Swap label<->value for choices map for translations support
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/ui-services/meeting-settings-definition-provider.service.ts
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.html
Labels: client

#373 Improves forwarding of motions
  client/src/app/core/repositories/motions/motion.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-forward-dialog/motion-forward-dialog.component.html
Labels: client

#351 CML can be assigned to users in the member-detail-view
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/shared/components/base-form-control.ts
  client/src/app/shared/components/search-selector/base-search-value-selector/base-search-value-selector.component.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.html
  client/src/app/site/users/components/user-detail/user-detail.component.ts
Labels: client

#376 Improves members in OS4
  client/src/app/management/components/member-edit/member-edit.component.html
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.ts
  client/src/app/management/management-routing.module.ts
  client/src/app/shared/components/user-detail-view/user-detail-view.component.ts
Labels: client

#378 Remove git dependies from package.json
  client/package-lock.json
  client/package.json
  client/src/crawler.js
  client/src/styles.scss
Labels: client

#377 Shows to orga-tags related committees and meetings
  client/src/app/core/repositories/relations.ts
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.html
  client/src/app/management/components/organization-tag-list/organization-tag-list.component.ts
  client/src/app/management/models/view-committee.ts
  client/src/app/management/models/view-meeting.ts
  client/src/app/management/models/view-organization-tag.ts
  client/src/app/shared/models/base/has-organization-tag-ids.ts
  client/src/app/shared/models/event-management/organization-tag.ts
Labels: client

#384 Update ICC integration
  client/src/app/core/core-services/notify.service.ts
Labels: client

#380 Adds a filtering- and sorting-service for the member-list
  client/src/app/core/ui-services/base-filter-list.service.ts
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/core/ui-services/base-sort.service.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.ts
  client/src/app/management/services/member-filter.service.ts
  client/src/app/management/services/member-sort.service.ts
  client/src/app/shared/components/sort-filter-bar/sort-filter-bar.component.ts
  client/src/app/site/agenda/services/agenda-filter-list.service.ts
  client/src/app/site/assignments/services/assignment-filter-list.service.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/amendment-filter-list.service.ts
  client/src/app/site/motions/services/motion-filter-list.service.ts
  client/src/app/site/polls/services/poll-filter-list.service.ts
  client/src/app/site/users/services/user-filter-list.service.ts
  client/src/app/site/users/services/user-sort-list.service.ts
Labels: client

#374 If a user is superadmin, they can do everything
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/management/committee-repository.service.ts
Labels: client

#365 Enable the projector countdown slide
  client/src/app/slides/projector-countdown/projector-countdown-slide.component.html
Labels: client

#355 Adjusts PDF-creation to work
  client/src/app/core/pdf-services/pdf-document.service.ts
  client/src/app/shared/components/basic-list-view-table/basic-list-view-table.component.ts
  client/src/app/site/agenda/services/agenda-pdf.service.ts
  client/src/app/site/assignments/components/assignment-list/assignment-list.component.ts
  client/src/app/site/assignments/modules/assignment-poll/components/assignment-poll-dialog/assignment-poll-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-list/components/motion-list/motion-list.component.ts
  client/src/app/site/motions/services/motion-pdf-export.service.ts
  client/src/app/site/users/components/user-list/user-list.component.ts
  client/src/app/site/users/services/user-pdf.service.ts
Labels: client

#386 Fix dynamically loaded choices in settings
  client/src/app/site/meeting-settings/components/meeting-settings-field/meeting-settings-field.component.ts
Labels: client

#387 Adds the meeting's name at the site-navigation
  client/src/app/shared/components/user-menu/user-menu.component.html
  client/src/app/site/common/common.config.ts
  client/src/app/site/site.component.html
  client/src/app/site/site.component.scss
  client/src/app/site/site.component.ts
Labels: client

#357 Recalculates if an operator has already voted
  client/src/app/core/core-services/active-meeting.service.ts
  client/src/app/core/repositories/polls/poll-repository.service.ts
  client/src/app/core/ui-services/voting-banner.service.ts
  client/src/app/core/ui-services/voting.service.ts
  client/src/app/shared/models/poll/poll.ts
  client/src/app/shared/models/poll/view-poll.ts
  client/src/app/site/polls/components/poll-list/poll-list.component.html
  client/src/app/site/polls/components/poll-list/poll-list.component.ts
Labels: client, needs info

#391 New node-version in Dockerfile to fix startup
  Dockerfile
  Dockerfile.dev
Labels: client

#392 Remove unused dockerfiles
  client/docker/Dockerfile
  client/docker/Dockerfile.dev
  client/docker/nginx.conf
Labels: client, needs info

#385 First work for motions and poll slides
  client/src/app/core/repositories/motions/motion-line-numbering.service.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/polls/services/poll.service.ts
  client/src/app/slides/assignment/assignment-slide-data.ts
  client/src/app/slides/assignment/assignment-slide.component.html
  client/src/app/slides/assignment/assignment-slide.component.ts
  client/src/app/slides/motion-base/base-motion-slide.ts
  client/src/app/slides/motion/amendment-paragraph-unified-change.ts
  client/src/app/slides/motion/change-recommendation-unified-change.ts
  client/src/app/slides/motion/motion-slide-data.ts
  client/src/app/slides/motion/motion-slide.component.html
  client/src/app/slides/motion/motion-slide.component.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide-data.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.component.html
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.component.scss
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.component.spec.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.component.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.module.spec.ts
  client/src/app/slides/poll/assignment-poll/assignment-poll-slide.module.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide-data.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide.component.html
  client/src/app/slides/poll/motion-poll/motion-poll-slide.component.spec.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide.component.ts
  client/src/app/slides/poll/motion-poll/motion-poll-slide.module.spec.ts
  client/src/app/slides/poll/poll-slide-data.ts
  client/src/app/slides/poll/poll-slide.component.html
  client/src/app/slides/poll/poll-slide.component.scss
  client/src/app/slides/poll/poll-slide.component.ts
  client/src/app/slides/poll/poll-slide.module.ts
  client/src/app/slides/poll/polls/base-poll-slide-data.ts
  client/src/app/slides/poll/polls/base-poll-slide.component.ts
  client/src/app/slides/slides.module.ts
  client/src/app/slides/slides.ts
Labels: client

#400 Adjust jitsi payload
  client/src/app/core/core-services/operator.service.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
Labels: bug, client

#397 Motion slide line numbering (closes #396)
  client/src/app/slides/motion/motion-slide-data.ts
  client/src/app/slides/motion/motion-slide.component.ts
Labels: client

#398 Refine agenda projections
  client/src/app/shared/components/list-view-table/list-view-table.component.html
  client/src/app/shared/components/list-view-table/list-view-table.component.ts
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.html
  client/src/app/site/agenda/components/agenda-item-list/agenda-item-list.component.ts
  client/src/app/site/agenda/models/view-agenda-item.ts
Labels: client

#406 List of speakers slide
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/core/repositories/projector/projection-repository.service.ts
  client/src/app/shared/components/projector/projector.component.ts
  client/src/app/site/projector/components/presentation-control/presentation-control.component.ts
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide-data.ts
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide.component.html
  client/src/app/slides/common-list-of-speakers/common-list-of-speakers-slide.component.ts
Labels: client

#419 Fixes setting the presence of users
  client/src/app/core/repositories/users/user-repository.service.ts
  client/src/app/shared/components/user-menu/user-menu.component.ts
  client/src/app/site/users/components/user-list/user-list.component.html
  client/src/app/site/users/components/user-list/user-list.component.ts
Labels: client

#416 Adds sorting to committee-list
  client/src/app/core/ui-services/base-sort-list.service.ts
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/models/view-committee.ts
  client/src/app/management/services/committee-filter.service.ts
  client/src/app/management/services/committee-sort.service.ts
Labels: client

#415 Committees' names are written in one line
  client/src/app/management/components/committee-list/committee-list.component.html
  client/src/app/management/components/committee-list/committee-list.component.scss
  client/src/app/management/components/committee-list/committee-list.component.ts
  client/src/app/management/components/member-edit/member-edit.component.ts
  client/src/app/management/components/member-list/member-list.component.html
  client/src/app/management/components/member-list/member-list.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.html
  client/src/app/shared/components/icon-container/icon-container.component.scss
  client/src/app/shared/components/icon-container/icon-container.component.ts
Labels: client

#418 Adds restrictions to orga.update
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/management/components/orga-settings/orga-settings.component.ts
Labels: client

#425 Improve Projector
  client/src/app/core/core-services/relation-manager.service.ts
  client/src/app/shared/components/slide-container/slide-container.component.ts
  client/src/app/site/projector/components/presentation-control/presentation-control.component.html
  client/src/app/site/projector/components/presentation-control/presentation-control.component.ts
  client/src/app/site/projector/components/projector-detail/projector-detail.component.html
  client/src/app/site/projector/components/projector-detail/projector-detail.component.ts
  client/src/app/slides/motion/motion-slide.component.ts
Labels: client

#428 A motion has at least the operator as default submitter
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/shared/components/base-form-control.ts
Labels: client

#429 A 'also editing' notification is not send when creating a new object
  client/src/app/shared/directives/listen-editing.directive.ts
Labels: client

#431 Forward final versions
  client/src/app/app/core/repositories/motions/motion-format.service.spec.ts
  client/src/app/core/actions/motion-action.ts
  client/src/app/core/repositories/motions/motion-line-numbering.service.ts
  client/src/app/core/repositories/motions/motion-repository.service.ts
  client/src/app/core/repositories/motions/motion.service.ts
  client/src/app/site/motions/modules/motion-detail/components/base/base-motion-detail-child.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-highlight-form/motion-highlight-form.component.ts
  client/src/app/site/motions/modules/services/motion-service-collector.service.ts
  client/src/app/site/motions/services/motion-csv-export.service.ts
  client/src/app/site/motions/services/motion-format.service.spec.ts
  client/src/app/site/motions/services/motion-format.service.ts
  client/src/app/site/motions/services/motion-pdf.service.ts
  client/src/app/slides/motion/motion-slide.component.ts
Labels: blocker, client, high

#433 Motion history tree
  client/src/app/core/repositories/relations.ts
  client/src/app/shared/models/motions/motion.ts
  client/src/app/site/motions/models/view-motion.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
Labels: client

#435 Normal users can send motions
  client/src/app/core/actions/motion-action.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/services/permissions.service.ts
Labels: client

#438 Cleanup motion form, fix accessing components
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.scss
  client/src/app/site/motions/modules/motion-detail/components/motion-content/motion-content.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-detail/motion-detail.component.scss
  client/src/app/site/motions/services/permissions.service.ts
Labels: bug, clean up, client

#437 Updated translations
  client/src/app/core/repositories/management/meeting-settings-definition.ts
  client/src/app/fullscreen/download/modules/download/download.component.html
  client/src/app/management/components/orga-settings/orga-settings.component.html
  client/src/app/management/services/committee-filter.service.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-change-recommendation-dialog/motion-change-recommendation-dialog.component.html
  client/src/app/site/motions/modules/motion-detail/components/motion-change-recommendation-dialog/motion-change-recommendation-dialog.component.ts
  client/src/app/site/motions/modules/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/assets/i18n/de.json
  client/src/assets/i18n/de.po
  client/src/assets/i18n/template-en.pot
Labels: client

#439 Add icc-health to notify service
  client/src/app/core/core-services/notify.service.ts
Labels: client

#434 User creating a meeting is its admin
  client/src/app/core/core-services/operator.service.ts
  client/src/app/core/repositories/management/meeting-repository.service.ts
  client/src/app/management/components/meeting-edit/meeting-edit.component.html
  client/src/app/management/components/meeting-edit/meeting-edit.component.ts
  client/src/app/shared/overload-js-functions.ts
Labels: client
