Repository OpenSlides/openslides-client, pull requests merged in 2022-10, with the labels that each got.

#1641 Fix navbar arrow position on WebKit
  client/src/app/ui/modules/sidenav/components/sidenav/sidenav.component.scss
Labels: bug, high, Safari/iOS

#1642 fix none selection of agenda parent item
  client/src/app/site/pages/meetings/pages/agenda/modules/topics/pages/topic-detail/components/topic-detail/topic-detail.component.ts
Labels: bug, high, affected view: topic

#1643 dont't reopen autoupdate streams after resolved
  client/src/app/worker/autoupdate-stream-pool.ts
Labels: bug, high

#1628 cypress tests
  client/package.json
  client/tests/integration/cypress/integration/client-load.spec.ts
  client/tests/integration/cypress/integration/guards.spec.ts
  client/tests/integration/cypress/integration/login.spec.ts
  client/tests/integration/cypress/integration/meeting/agenda.spec.ts
  client/tests/integration/cypress/integration/meeting/home.spec.ts
  client/tests/integration/cypress/integration/organization/account.spec.ts
  client/tests/integration/cypress/integration/organization/committee.spec.ts
  client/tests/integration/cypress/support/commands.ts
  client/tests/integration/cypress/support/index.ts
Labels: feature

#1646 Sorted poll result tables
  client/src/app/site/pages/meetings/modules/poll/base/base-poll-detail.component.ts
  client/src/app/site/pages/meetings/modules/poll/components/entitled-users-table/entitled-users-table.component.ts
  client/src/app/site/pages/meetings/modules/poll/components/votes-table/votes-table.component.ts
  client/src/app/site/pages/meetings/pages/assignments/pages/assignment-polls/components/assignment-poll-detail/assignment-poll-detail.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-polls/components/motion-poll-detail/motion-poll-detail.component.html
Labels: high, affected view: polls

#1649 Fixed motion detail view forwarding meeting title
  client/src/app/site/base/base-controller.ts
  client/src/app/site/pages/meetings/pages/motions/components/motion-forward-dialog/services/motion-forward-dialog.service.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/tests/integration/cypress.config.js
  client/tests/integration/cypress/integration/meeting/agenda.spec.ts
Labels: high, affected view: motion

#1655 fix vote weight not displayed on participant create
  client/src/app/site/pages/meetings/pages/participants/pages/participant-detail/pages/participant-detail-manage/components/participant-create-wizard/participant-create-wizard.component.scss
  client/src/app/site/pages/meetings/pages/participants/pages/participant-detail/pages/participant-detail-manage/components/participant-create-wizard/participant-create-wizard.component.ts
Labels: bug

#1656 add missing try catch block to autoupdate health check
  client/src/app/worker/autoupdate-stream-pool.ts
Labels: bug

#1657 Put links in account detail committee and meeting list
  client/src/app/site/pages/organization/pages/accounts/pages/account-detail/components/account-detail/account-detail.component.html
  client/src/app/site/pages/organization/pages/accounts/pages/account-detail/components/account-detail/account-detail.component.ts
Labels: affected view: account

#1658 reset operator data only if user changed
  client/src/app/site/services/operator.service.ts
Labels: bug

#1659 Changed handling of has voted responses
  client/src/app/gateways/repositories/polls/vote-repository.service/vote-repository.service.ts
  client/src/app/site/pages/meetings/modules/poll/services/vote-controller.service/vote-controller.service.ts
  client/src/app/site/pages/organization/pages/accounts/pages/account-list/components/account-list/account-list.component.html
Labels: feature, affected view: polls

#1665 Greyed out checkboxes for motions that were already forwarded to
  client/src/app/site/pages/meetings/pages/motions/components/motion-forward-dialog/components/motion-forward-dialog/motion-forward-dialog.component.html
  client/src/app/site/pages/meetings/pages/motions/components/motion-forward-dialog/components/motion-forward-dialog/motion-forward-dialog.component.ts
Labels: feature, affected view: motion

#1674 Fixed 'account detail breaks meeting list' bug and stopped resending
  client/src/app/gateways/repositories/meeting-repository.service.ts
  client/src/app/site/pages/organization/config/model-subscription.ts
  client/src/app/site/pages/organization/pages/accounts/pages/account-detail/components/account-detail-main/account-detail-main.component.ts
  client/src/app/site/services/autoupdate/autoupdate-communication.service.ts
  client/src/app/site/services/autoupdate/autoupdate.service.ts
  client/src/app/site/services/model-request.service.ts
  client/src/app/worker/interfaces-autoupdate.ts
  client/src/app/worker/sw-autoupdate.ts
Labels: bug, high, affected view: account

#1679 restart autoupdate streams when user changes
  client/src/app/worker/autoupdate-stream-pool.ts
  client/src/app/worker/autoupdate-stream.ts
Labels: bug, high

#1668 Fix icc service communication problem and invite to conference function
  client/src/app/gateways/notify.service.ts
  client/src/app/site/pages/meetings/pages/interaction/services/interaction-receive.service.spec.ts
  client/src/app/site/pages/meetings/pages/interaction/services/interaction-receive.service.ts
  client/src/app/site/pages/meetings/pages/interaction/services/interaction.service.ts
  client/src/app/site/services/communication-manager.service/communication-manager.service.ts
Labels: bug, high, affected view: autopilot

#1662 cache has voted requests in vote repository
  client/src/app/gateways/repositories/polls/vote-repository.service/vote-repository.service.ts
  client/src/app/site/modules/site-wrapper/services/voting-banner.service.ts
  client/src/app/site/pages/meetings/modules/poll/services/vote-controller.service/vote-controller.service.ts
Labels: bug, high, needs discussion, affected view: polls

#1686 ngsw-bypass for autoupdate requests
  client/src/app/worker/autoupdate-stream-pool.ts
  client/src/app/worker/autoupdate-stream.ts
Labels: bug

#1667 Added meeting selector to state extension field
  client/src/app/site/pages/meetings/pages/motions/components/motion-forward-dialog/services/motion-forward-dialog.service.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-extension-field/motion-extension-field.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-extension-field/motion-extension-field.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
Labels: feature, high, affected view: motion

#1681 Restyled account list icons
  client/src/app/site/pages/organization/pages/accounts/pages/account-list/components/account-list/account-list.component.html
  client/src/app/site/pages/organization/pages/accounts/pages/account-list/components/account-list/account-list.component.scss
Labels: affected view: account

#1693 remove number from default meeting name if it is first meeting in committee
  client/src/app/site/pages/organization/pages/committees/pages/committee-detail/modules/committee-detail-meeting/components/meeting-edit/meeting-edit.component.ts
Labels: bug, low

#1692 hide motion forward from multiselect if not available
  client/src/app/site/pages/meetings/pages/motions/pages/motion-list/components/motion-list/motion-list.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-list/components/motion-list/motion-list.component.ts
Labels: bug, low, affected view: motion

#1691 fix topic import back button
  client/src/app/site/pages/meetings/pages/agenda/modules/topics/pages/topic-import/components/topic-import/topic-import.component.html
Labels: bug, affected view: topic

#1689 remove forward preselection of demo meeting
  client/src/app/site/pages/meetings/pages/motions/components/motion-forward-dialog/components/motion-forward-dialog/motion-forward-dialog.component.ts
Labels: bug, affected view: motion

#1684 prevent opening http streams while cypress is running
  client/src/app/gateways/http-stream/http-stream.service.ts
  client/src/app/gateways/http-stream/http-stream.ts
  client/tests/integration/cypress/support/setup.ts
Labels: bug

#1702 Started implementing backend motion forwarding changes in client
  client/src/app/domain/models/meetings/meeting.ts
  client/src/app/domain/models/motions/motion.ts
  client/src/app/gateways/repositories/motions/motion-repository.service/motion-repository.service.ts
  client/src/app/infrastructure/definitions/relations/relations.ts
  client/src/app/site/pages/meetings/pages/motions/config/model-subscription.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/src/app/site/pages/meetings/pages/motions/view-models/view-motion.ts
  client/src/app/site/pages/meetings/view-models/view-meeting.ts
Labels: feature, affected view: motion

#1708 reopen resolved autoupdate connections when not in single or history mode
  client/src/app/worker/autoupdate-stream-pool.ts
Labels: bug, high

#1712 use color picker for organization tags
  client/src/app/site/pages/organization/pages/organization-tags/modules/organization-tag-dialog/components/organization-tag-dialog.component.html
  client/src/app/site/pages/organization/pages/organization-tags/modules/organization-tag-dialog/components/organization-tag-dialog.component.ts
Labels: feature

#1714 Fixed dashboard to meeting navigation
  client/src/app/site/services/auth-check.service.ts
  client/src/app/site/services/operator.service.ts
Labels: bug, affected view: dashboard

#1710 fix single candidate YN 100% base
  client/src/app/site/pages/meetings/modules/poll/components/chart/chart.component.ts
  client/src/app/site/pages/meetings/modules/poll/components/single-option-chart-table/single-option-chart-table.component.html
  client/src/app/site/pages/meetings/modules/poll/services/poll.service/poll.service.ts
Labels: bug, high, affected view: polls

#1695 use radio buttons for motion analog vote majority selection
  client/src/app/site/pages/meetings/modules/poll/components/check-input/check-input.component.ts
  client/src/app/site/pages/meetings/modules/poll/poll.module.ts
  client/src/app/site/pages/meetings/pages/motions/modules/motion-poll/components/motion-poll-dialog/motion-poll-dialog.component.html
  client/src/app/site/pages/meetings/pages/motions/modules/motion-poll/components/motion-poll-dialog/motion-poll-dialog.component.ts
  client/src/app/site/pages/meetings/pages/motions/modules/motion-poll/motion-poll.module.ts
Labels: bug

#1718 fix amendment state reset
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
Labels: bug, affected view: motion

#1715 info if http stream got first data
  client/src/app/site/pages/meetings/modules/meetings-component-collector/detail-view/components/detail-view/detail-view.component.html
  client/src/app/site/pages/meetings/modules/meetings-component-collector/detail-view/components/detail-view/detail-view.component.scss
  client/src/app/site/pages/meetings/modules/meetings-component-collector/detail-view/components/detail-view/detail-view.component.ts
  client/src/app/site/pages/meetings/modules/meetings-component-collector/detail-view/detail-view.module.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail/motion-detail.component.ts
  client/src/app/site/pages/meetings/pages/projectors/modules/fullscreen-projector/components/fullscreen-projector-detail/fullscreen-projector-detail.component.ts
  client/src/app/site/pages/meetings/pages/projectors/modules/fullscreen-projector/components/fullscreen-projector-main/fullscreen-projector-main.component.ts
  client/src/app/site/pages/meetings/services/sequential-number-mapping.service.ts
  client/src/app/site/services/autoupdate/autoupdate.service.ts
Labels: feature

#1706 package updates
  client/package-lock.json
  client/package.json
Labels: dependencies

#1727 Fixed last_modified motion sort
  client/src/app/gateways/repositories/motions/motion-repository.service/motion-repository.service.ts
Labels: bug, affected view: motion

#1728 fixed motion poll YN percentbase
  client/src/app/site/pages/meetings/pages/motions/modules/motion-poll/services/motion-poll.service/motion-poll.service.ts
Labels: bug, affected view: polls, affected view: motion

#1730 Fixed motion analog vote error messages
  client/src/app/site/pages/meetings/modules/poll/services/poll.service/poll.service.ts
  client/src/app/site/pages/meetings/pages/motions/modules/motion-poll/services/motion-poll.service/motion-poll.service.ts
Labels: bug, affected view: polls, affected view: motion

#1731 Fixed topic poll chart colors
  client/src/app/site/pages/meetings/modules/poll/components/chart/chart.component.ts
Labels: bug, affected view: polls, affected view: topic

#1732 Can now navigate to next motion in last amendment
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-view/motion-detail-view.component.ts
Labels: bug, affected view: motion

#1736 Fixed file detail links
  client/src/app/ui/modules/file-list/components/file-list/file-list.component.html
  client/src/app/ui/modules/file-list/components/file-list/file-list.component.ts
Labels: bug, affected view: mediafile

#1737 Fix anonymous user can not vote error after logout
  client/src/app/gateways/repositories/polls/vote-repository.service/vote-repository.service.ts
  client/src/app/site/modules/site-wrapper/services/voting-banner.service.ts
Labels: bug

#1740 Do not expand motion text in amendment diff view
  client/src/app/site/pages/meetings/pages/motions/modules/change-recommendations/services/motion-diff.service/motion-diff.service.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff-summary/motion-detail-diff-summary.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff-summary/motion-detail-diff-summary.component.scss
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff-summary/motion-detail-diff-summary.component.spec.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff-summary/motion-detail-diff-summary.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff/motion-detail-diff.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-diff/motion-detail-diff.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.scss
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/paragraph-based-amendment/paragraph-based-amendment.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/motion-detail.module.ts
Labels: feature, high, affected view: motion, delete test instance

#1697 Handling of deleted candidates
  client/src/app/site/pages/meetings/pages/assignments/modules/assignment-poll/components/assignment-poll-meta-info/assignment-poll-meta-info.component.ts
  client/src/app/site/pages/meetings/pages/assignments/pages/assignment-polls/components/assignment-poll-detail/assignment-poll-detail.component.ts
Labels: affected view: assignment, test instance active

#1699 Grey out motion detail nav buttons
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-view/motion-detail-view.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-view/motion-detail-view.component.scss
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-view/motion-detail-view.component.ts
Labels: affected view: motion

#1700 Solved a few problems with the account search selector
  client/src/app/site/pages/organization/modules/account-search-selector/components/account-search-selector/account-search-selector.component.ts
Labels: bug, test instance active

#1719 Vanishing list filters
  client/src/app/site/base/base-filter.service/base-filter-list.service.ts
Labels: bug

#1722 Implemented motion comment submitter edit option
  client/src/app/domain/models/motions/motion-comment-section.ts
  client/src/app/gateways/repositories/motions/motion-comments/motion-comment-section-repository.service.ts
  client/src/app/site/pages/meetings/pages/motions/pages/comments/comments.module.ts
  client/src/app/site/pages/meetings/pages/motions/pages/comments/components/comment-section-list/comment-section-list.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/comments/components/comment-section-list/comment-section-list.component.scss
  client/src/app/site/pages/meetings/pages/motions/pages/comments/components/comment-section-list/comment-section-list.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-comment/motion-comment.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-comment/motion-comment.component.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-comments/motion-comments.component.ts
  client/src/app/ui/modules/action-card/components/action-card/action-card.component.html
  client/src/app/ui/modules/action-card/components/action-card/action-card.component.scss
  client/src/assets/styles/global-components-style.scss
Labels: feature, high, affected view: motion, test instance active

#1743 prevent sending empty recommentation
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.html
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-meta-data/motion-meta-data.component.ts
  client/src/app/site/pages/meetings/pages/motions/services/common/motion-controller.service/motion-controller.service.ts
Labels: bug, affected view: motion

#1750 fix personal note export
  client/src/app/site/pages/meetings/pages/motions/services/export/motion-csv-export.service/motion-csv-export.service.ts
  client/src/app/site/pages/meetings/pages/motions/services/export/motion-xlsx-export.service/motion-xlsx-export.service.ts
Labels: bug, affected view: motion

#1741 motion mediafiles attachment fix
  client/src/app/gateways/repositories/motions/motion-repository.service/motion-repository.service.ts
  client/src/app/site/pages/meetings/pages/motions/pages/motion-detail/components/motion-detail-view/motion-detail-view.component.ts
Labels: bug, affected view: motion, affected view: mediafile

#1688 Participants: Reordered import and export columns
  client/src/app/domain/models/users/user.constants.ts
  client/src/app/infrastructure/utils/import/static-before-import-config.ts
  client/src/app/infrastructure/utils/import/static-before-import-handler.ts
  client/src/app/site/pages/meetings/pages/participants/export/participant-csv-export.service/participant-csv-export.service.ts
  client/src/app/site/pages/meetings/pages/participants/pages/participant-import/definitions/index.ts
  client/src/app/site/pages/meetings/pages/participants/pages/participant-import/services/participant-import.service/participant-import.service.ts
  client/src/app/site/pages/organization/pages/accounts/pages/account-import/definitions/index.ts
Labels: high, affected view: participant
